
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-grid style="text-align: center;">
      <ion-row>
        <ion-col col-3>
          <div><p>Conoce los lugares que en la actualidad se están impartiendo prácticas,
            ​   si no está tu provincia o sector inscríbete para aperturar un grupo en tu comunidad.</p></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <div><h5>LUGARES DE PRACTICAS</h5></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>CIBAO</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>829-362-4810</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>VILLA GONZALEZ</div>
        </ion-col>
        <ion-col>
          <div>NAVARRETE</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>ALTAMIRA</div>
        </ion-col>
        <ion-col>
          <div>LA ISABELA</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>VILLA ELIZA</div>
        </ion-col>
        <ion-col>
          <div>AGUA PALMA</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>PUNTA RUSIA</div>
        </ion-col>
        <ion-col col-6>
          <div></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>BONAO</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>809-867-5848</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>LA ROMANA</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>809-429-1855</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>HIGUEY</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>829-549-2713</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>SANTO DOMINGO OESTE</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>809-839-1378</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>SANTO DOMINGO NORTE</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>829-613-0858</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>SANTO DOMINGO ESTE</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>829-726-2382</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>YAMASA</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>829-340-6860</div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-content>
</ion-app>


