<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      ion-col [size="6"]
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      ion-col [size="3"]
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col size="3">
      ion-col [size="3"]
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      ion-col [size="3"]
    </ion-col>
    <ion-col size="3" offset="3">
      ion-col [size="3"] [offset="3"]
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
      <br>#
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
      <br>#
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-align-self-start">
      ion-col [start]
    </ion-col>
    <ion-col class="ion-align-self-center">
      ion-col [center]
    </ion-col>
    <ion-col class="ion-align-self-end">
      ion-col [end]
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-start">
    <ion-col>
      [start] ion-col
    </ion-col>
    <ion-col>
      [start] ion-col
    </ion-col>
    <ion-col class="ion-align-self-end">
      [start] ion-col [end]
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col>
      [center] ion-col
    </ion-col>
    <ion-col>
      [center] ion-col
    </ion-col>
    <ion-col>
      [center] ion-col
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-end">
    <ion-col>
      [end] ion-col
    </ion-col>
    <ion-col class="ion-align-self-start">
      [end] ion-col [start]
    </ion-col>
    <ion-col>
      [end] ion-col
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-md>
      ion-col [size="12"] [size-md]
    </ion-col>
    <ion-col size="12" size-md>
      ion-col [size="12"] [size-md]
    </ion-col>
    <ion-col size="12" size-md>
      ion-col [size="12"] [size-md]
    </ion-col>
    <ion-col size="12" size-md>
      ion-col [size="12"] [size-md]
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6" size-lg offset="3">
      ion-col [size="6"] [size-lg] [offset="3"]
    </ion-col>
    <ion-col size="3" size-lg>
      ion-col [size="3"] [size-lg]
    </ion-col>
  </ion-row>
</ion-grid>


<ion-text>

    <p>Conoce los lugares que en la actualidad se están impartiendo prácticas,
      ​   si no está tu provincia o sector inscríbete para aperturar un grupo en tu comunidad.
    </p>


    
      <ion-title>Lugares de practica</ion-title>
    


<ion-row>
  <ion-col>
    <div>     </div>
  </ion-col>
  <ion-col>
    <div>829-362-4810</div>
  </ion-col>
  <ion-col>
    <div>     </div>
  </ion-col>
</ion-row>

<ion-grid>
  <ion-row>
    <ion-col>
      <div>VILLA GONZALEZ</div>
    </ion-col>
    <ion-col>
      <div>NAVARRETE</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>ALTAMIRA</div>
    </ion-col>
    <ion-col>
      <div>LA ISABELA</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>VILLA ELIZA</div>
    </ion-col>
    <ion-col>
      <div>AGUA PALMA</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>PUNTA RUSIA</div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row>
  <ion-col>
    <div>     </div>
  </ion-col>
  <ion-col>
    <div>809-867-5848</div>
  </ion-col>
  <ion-col>
    <div>     </div>
  </ion-col>
</ion-row>

<ion-grid>
  <ion-row>
    <ion-col>
      <div>BONAO</div>
    </ion-col>
  </ion-row>
</ion-grid>

    <ion-row>
      <ion-col>
        <div>     </div>
      </ion-col>
      <ion-col>
        <div>809-429-1855</div>
      </ion-col>
      <ion-col>
        <div>     </div>
      </ion-col>
    </ion-row>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>LA ROMANA</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
        <div>     </div>
      </ion-col>
      <ion-col>
        <div>829-574-2713</div>
      </ion-col>
      <ion-col>
        <div>     </div>
      </ion-col>
    </ion-row>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>HIGUEY</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
        <ion-row>
          <ion-col>
            <div>     </div>
          </ion-col>
          <ion-col>
            <div>809-839-1378</div>
          </ion-col>
          <ion-col>
            <div>     </div>
          </ion-col>
        </ion-row>
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>STO DGO OESTE</div>
            </ion-col>
          </ion-row>
        </ion-grid>

  </ion-text>
-->

<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Grid</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>1 of 2</div>
        </ion-col>
        <ion-col>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>1 of 3</div>
        </ion-col>
        <ion-col>
          <div>2 of 3</div>
        </ion-col>
        <ion-col>
          <div>3 of 3</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>1 of 3</div>
        </ion-col>
        <ion-col col-6>
          <div>2 of 3</div>
        </ion-col>
        <ion-col>
          <div>3 of 3</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <div>1 of 3</div>
        </ion-col>
        <ion-col>
          <div>2 of 3</div>
        </ion-col>
        <ion-col>
          <div>3 of 3</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-4>
          <div>1 of 2</div>
        </ion-col>
        <ion-col>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>1 of 2</div>
        </ion-col>
        <ion-col offset-4>
          <div>2 of 2</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>1 of 4</div>
        </ion-col>
        <ion-col>
          <div>2 of 4</div>
        </ion-col>
        <ion-col>
          <div>3 of 4</div>
        </ion-col>
        <ion-col>
          <div>4 of 4</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>


